.loginform{
    background: #000;
    padding: 24px;
    width: 400px;
    margin: auto;
    border-radius: 8px;
    height: 235px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    .example-full-width{
        min-width: 100%;        
    }
}