
<div class="loginform">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>          
          <input type="text" matInput placeholder="Enter username">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>          
          <input type="password" matInput placeholder="Enter password">
          <mat-icon matSuffix>remove_red_eye</mat-icon>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" routerLink="/home">Login</button>
        </div>
      </form>
</div>